* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#number {
    font-size: 100px;
    margin: 35px;
}

.buttons {
    padding: 1px 25px;
    border-radius: 5px;
    font-size: 35px;
    background-color: rgb(195, 195, 252);
}

.count {
    margin-bottom: 50px;
}

#reset {
    font-size: 35px;
    padding: 1px 25px;
    background-color: aqua;
    border-radius: 10px;
}

@media(max-width: 700px) {

    .buttons,
    #reset {
        font-size: 25px;
    }

    #number {
        font-size: 75px;
    }
}